/*Main Content Styles*/
.app-main-content {
  flex: 1;
  width: 100%;
}

//update
.app-wrapper {
  // padding: 30px;
  width: 100%;
  padding-left: 10%;
  // border: 1px solid red;

  @media screen and (max-width: 575px) {
    padding: 20px;
  }
}