#brand-create{
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/brands/bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  .avatar-container{
    margin: 0 auto;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(33,33,33,.2);
  }

  .brand-create__header{
    text-align: left;
    width: 100%;
    padding: 35px 35px 20px;
  }

  .content{
    max-width: 480px;
  }
}