.profile{
    .dtpw-btn-create-campaign{
        width: 45%;
        margin-bottom: 5%;
        font-weight: 500;
    }
    .name-brand-pf{
        color: #615e5e;
    }
    .mail-pf{
        color: #9e9797;
        font-size:16px;
    }
    .change-pass-pf{
        margin-top: -5px;
        font-size: 12px;
    }
    .country-pf{
        margin-top: 7%;
        width: 90%;
    }
    .category-pf{
        margin-top: 5%;
        width: 90%;

    }
    .title-pf{
        font-size: 16px;
    }
    .dtpw-btn-advertisers-save{
        margin-top: 5%;
        width: 28%;
        font-weight: 500;
    }
}